* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;

}

:root {

    --text-color: #00262c;
    --title-color: #7a8488;
    --button-color: #fa7422;

}

.header {

    margin: 0 auto;
    max-width: 1200px;

}

.header__grid {

    height: 400px;
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.header__information {

    align-self: center;
    padding: 50px;
    color: var(--text-color);

}

.information__title {

    width: 180px;
    font-size: 3.4rem;
    margin-bottom: 20px;

}

.information__text {

    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 25px;

}

.button {

    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 1.6rem;
    background-color: var(--button-color);
    color: white;
    box-shadow: 0px 0px 10px gray;

}

.button:hover {

    background-color: #f39a62;

}

.header__hero {

    width: 100%;
    height: 100%;
    background-image: url(../assets/hero.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

main {

    max-width: 1200px;
    height: auto;
    margin: 0 auto;

}

.services {

    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.services__title {

    text-align: center;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 50px;

}

.services__grid {

    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2 1fr);
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 15px;

}

.img {

    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.img1 {

    background-image: url(../assets/video.png);
    grid-area: img1;

}

.img2 {

    background-image: url(../assets/dish1.png);
    grid-area: img2;

}

.img3 {

    background-image: url(../assets/dish2.png);
    grid-area: img3;

}

.img4 {

    background-image: url(../assets/dish3.png);
    grid-area: img4;

}

.img5 {

    background-image: url(../assets/dish4.png);
    grid-area: img5;

}

footer {

    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.footer__title {

    text-align: center;
    font-size: 2.4rem;
    color: var(--title-color);
    margin-bottom: 50px;

}

.footer__grid {

    height: 200px;
    display: grid;
    grid-template-columns: repeat(5,  1fr);

}

.footer__img {

    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.item1 {

    background-image: url(../assets/plate1.png);

}

.item2 {

    background-image: url(../assets/plate2.png);

}

.item3 {

    background-image: url(../assets/plate3.png);

}

.item4 {

    background-image: url(../assets/plate4.png);

}

.item5 {

    background-image: url(../assets/plate5.png);

}

@media (max-width: 900px) {
    
    .header__information {

        grid-area: 1 / 3;

    }

    .header__hero {

        display: none;

    }

    .footer__grid {

        height: 100px;

    }

}